doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/socket.io/lib/socket.js')
    script(src='/javascripts/vendor/phina.js')
    script(src='/javascripts/vendor/timbre.js')
    script(src='/javascripts/play.js')
    script(src='/javascripts/code_label.js')
    script(src='/javascripts/back_dot.js')
    script(src='/javascripts/particle.js')
    script(src='/javascripts/main.js')
  body
    block content
